<%- include('head') %>
<link rel="stylesheet" href="/stylesheets/all.css" />
<title>Restaurantes</title>
<%- include('navbar') %>

<main>
  <section class="container-fluid text-center">
    <h1>Descubre nuestros restaurantes</h1>
    <div class="row justify-content-center align-items-center">
      <% result.forEach(elem => { %>
      <div
        class="col-10 col-md-4 col-xl-3 card mx-3 my-5 d-flex justify-content-center align-items-center text-center"
      >
        <a href="/restaurantes/oneRestaurant/<%= elem.restaurant_id %>"
          ><img
            class="card-img mt-3"
            src="/images/restaurantes/<%= elem.restaurant_img %>"
            alt="imagen-restaurante"
        /></a>
        <div class="p-2 card-body mb-3 d-flex flex-column justify-content-center">
          <h5 class="card-title fs-2 mt-5 text-light">
            <%= elem.restaurant_name %>
          </h5>
          <p class="text-body fs-4"><%= elem.style %></p>
          <p class="text-body fs-5"><%= elem.phone_number %></p>
          <a href="/restaurantes/oneRestaurant/<%= elem.restaurant_id %>">
            <button class="card-button">Ver mas</button>
          </a>
        </div>
      </div>
      <% }) %>
    </div>
  </section>
</main>

<%- include('footer') %>
